<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384053106480-koe7d5g566goik1utmnliubun92h2jq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384053106480-koe7d5g566goik1utmnliubun92h2jq8</string>
	<key>API_KEY</key>
	<string>AIzaSyCVxuKTCaeVDl6NHFZdEvD0USlGO4G9BSY</string>
	<key>GCM_SENDER_ID</key>
	<string>384053106480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yaz</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-2cb3e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-2cb3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384053106480:ios:6eb748482d21ccc82fdaf5</string>
</dict>
</plist>